.stack {
  display: flex;
  flex-direction: column;

  &__title {
    font-weight: bold;
    font-size: 2rem;
    border-bottom: 2px solid black;
    padding-bottom: 15px;
    text-align: center;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-top: 15px;
  }

  &__image {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 900px) {
  .stack {
    &__image {
      width: 50px;
      height: 50px;
    }
  }
}
