.navbar__mobile {
  width: 100vw;
  height: 100vh;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.navbar__mobile ul li {
  margin: 15px;
}

.navbar__mobile ul li:hover {
  border-bottom: 1px solid black;
}
